@model IEnumerable<Samsys_Custos.Data.FORNECEDOR>

@{
    ViewData["Title"] = "Index";
    ViewBag.Class = "fa-table";
}

<h2>Fornecedores Samsys</h2>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Fornecedor
                </th>
                <th>
                    Categoria
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIA.nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id_fornecedor">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>