@model Samsys_Custos.Data.GSM

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pertende eliminar este GSM?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Número
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt>
            Equipamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_gsm" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
