@model Samsys_Custos.Data.GSM

@{
    ViewData["Title"] = "Edit";
}
<br />
<center><h2>Editar GSM</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_gsm" />
            <div class="form-group">
                <label asp-for="numero" class="control-label">Número</label>
                <input asp-for="numero" class="form-control" />
                <span asp-validation-for="numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipamento" class="control-label">Equipamento</label>
                <input asp-for="equipamento" class="form-control" />
                <span asp-validation-for="equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center><input type="submit" value="Guardar" class="btn btnCreate" /></center>
            </div>
        </form>
        <div>
            <center> <a asp-action="Index">Voltar</a></center>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
