@model IEnumerable<Samsys_Custos.Data.GSM>

@{
    ViewData["Title"] = "Index";
}

<h2>GSM</h2>

<p>
    <a asp-action="Create">Criar GSM</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Número
                </th>
                <th>
                    Equipamento
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.equipamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_gsm">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_gsm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
