@model IEnumerable<Samsys_Custos.Data.GSM>

@{
    ViewData["Title"] = "GSM";
}
<center style="padding-top:1%"><h2>GSM Samsys</h2></center>
<hr />
<a class="btn btnActionCreate" asp-action="Create">Novo GSM</a>
<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Número
            </th>
            <th>
                Equipamento
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.equipamento)
                </td>
                <td>
                    <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="Edit" asp-route-id="@item.id_gsm"></a>
                    <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="Delete" asp-route-id="@item.id_gsm"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
