@model Samsys_Custos.Data.SALARIO

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SALARIO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="liquido" class="control-label"></label>
                <input asp-for="liquido" class="form-control" />
                <span asp-validation-for="liquido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subsidio_alimentacao" class="control-label"></label>
                <input asp-for="subsidio_alimentacao" class="form-control" />
                <span asp-validation-for="subsidio_alimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outros" class="control-label"></label>
                <input asp-for="outros" class="form-control" />
                <span asp-validation-for="outros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seguranca_social" class="control-label"></label>
                <input asp-for="seguranca_social" class="form-control" />
                <span asp-validation-for="seguranca_social" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="irs" class="control-label"></label>
                <input asp-for="irs" class="form-control" />
                <span asp-validation-for="irs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outras_despesas" class="control-label"></label>
                <input asp-for="outras_despesas" class="form-control" />
                <span asp-validation-for="outras_despesas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outras_regalias" class="control-label"></label>
                <input asp-for="outras_regalias" class="form-control" />
                <span asp-validation-for="outras_regalias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
