.btnActionCreate {
    background-color: rgb(255,158,53);
    color: white;
    width: 200px;
    font-size: 16px;
    border: none;
    margin-left: 15px;
}

.btnActionCreate:hover {
        background-color: rgb(255,181,15)
 }

.btnCriarAtribuicao {
    background-color: rgb(255,158,53);
    color: white;
}

.btnCriarAtribuicao:hover {
        background-color: rgb(255,181,15)
}
