.icon {
    width: 80px
}

div.center {
    text-align: center;
}

.mysection {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25%;
    height: 40%;
    background-color: rgba(0,0,0,0.05);
}

.recover {
    width: 40%;
    margin: auto;
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    float: none;
}

.login {
    width: 40%;
    margin: auto;
    position: absolute;
    top: 77.5%;
    bottom: 0;
    left: 0;
    right: 0;
    float: none;
}

.save {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 62.5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.pass {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 42.5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.email {
    width: 60%;
    margin: auto;
    position: absolute;
    top: 22.5%;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-group {
    width: 60%;
    margin: 2.5% auto;
    float: none;
}

h1.center {
    color: rgba(0,0,0,1);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 12%;
    bottom: 0;
    left: 0;
    right: 0;
}

div.center {
    color: rgba(0,0,0,0.4);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
}

h5 {
    text-align: center;
    color: black;
}

p, p > a {
    text-align: center;
    color: rgba(0,0,0,0.4)
}

.btn {
    background-color: #FFB50F;
    color: white;
    font-weight: bold;
}
