body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F9F9F9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#top-nav {
    background-color: grey;
  
    
}

#top-nav ul > li > aa {
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
    color: white!important;
    vertical-align: center;
}
#top-nav>ul>li>a{
    position:relative;
}
.logo-light {
    WIDTH:100px;
    float: left;
    margin: 0px 15px 15px 0px;
}
.btnActionCreate {
    background-color: rgb(255,158,53);
    color: white;
    width: 200px;
    font-size: 16px;
    border: none;
    margin-left: 15px;
    border-radius: 0px;
}

    .btnActionCreate:hover {
        background-color: rgb(255,181,15) ;
        color: white;
    }
.btnCreate {
    background-color: rgb(255,158,53);
    color: white;
    width: 150px;
    font-size: 16px;
    border: none;
    text-align: center;
   
}
.btnCreate:hover {
        background-color: rgb(255,181,15);
        color: white;
 }

#btnMediaCustos {
    background-color: rgb(255,158,53);
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 0px;
}
    #btnMediaCustos:hover {
        background-color: rgb(255,181,15);
        color: white;
    }

#btnLogout {
    border-color: #f78839;
    color: #f78839;
}

#btnLogout:hover {
    background-color: #f78839;
    color: white;
}
.btnRemove {
    background-color: rgb(255,158,53);
    color: white;
    width: 130px;
    font-size: 16px;
    border: none;
    text-align: center;
}

    .btnRemove:hover {
        background-color: rgb(255,181,15);
        
    }

.btnVoltar {
    border-color: rgb(255,158,53);
    color: rgb(255,158,53);
    width: 130px;
    float: left;
}
.btnVoltarEdit {
    border-color: rgb(255,158,53);
    color: rgb(255,158,53);
    width: 150px;
    float: left;
}
    .btnVoltar:hover, .btnVoltarEdit:hover {
        border-color: #343a40;
        color: #343a40;
    }

.btnIconEdit {
    color: rgb(255,158,53);
}
.btnIconRemove {
    color: #343a40;
}

.btnIconEdit:hover {
    color: #343a40;
    text-decoration: none;
}
.btnIconRemove:hover {
    color: rgba(255,0,0,0.8);
    text-decoration: none;
}



    