@model Samsys_Custos.Models.MEDIA_CUSTOS

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MEDIA_CUSTOS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_media" />
            <div class="form-group">
                <label asp-for="id_equipa" class="control-label"></label>
                <select asp-for="id_equipa" class="form-control" asp-items="ViewBag.id_equipa"></select>
                <span asp-validation-for="id_equipa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtd_colaboradores" class="control-label"></label>
                <input asp-for="qtd_colaboradores" class="form-control" />
                <span asp-validation-for="qtd_colaboradores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label"></label>
                <input asp-for="mes" class="form-control" />
                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
