@model Samsys_Custos.Data.ATRIBUICAO

@{
    ViewData["Title"] = "Criar Viatura";
}

<br />
<center><h2>Criar Atribuição de Viatura</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="CreateViatura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_viatura" class="control-label" style="font-weight:bold;">Matrícula</label>
                <select asp-for="id_viatura" class="form-control" asp-items="ViewBag.id_viatura"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label" style="font-weight:bold;">Colaborador</label>
                <select asp-for="id_colaborador" class="form-control" asp-items="ViewBag.id_colaborador"></select>
            </div>
            <div class="form-group">
                <label asp-for="data_inicio" class="control-label" style="font-weight:bold;">Data Inicial</label>
                <input asp-for="data_inicio" class="form-control" />
                <span asp-validation-for="data_inicio" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
            <label asp-for="data_fim" class="control-label"></label>
            <input asp-for="data_fim" class="form-control" />
            <span asp-validation-for="data_fim" class="text-danger"></span>
        </div>-->
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <center><input type="submit" value="Criar Atribuição" class="btn btnCreate btnCriarAtribuicao" /></center> 
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-5">
                    <a class="btn btnVoltarEdit" asp-action="Viatura">Voltar</a>
                </div>
            </div>
           
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
