@model Samsys_Custos.Data.ATRIBUICAO

@{
    ViewData["Title"] = "Editar GSM";
}

<br />
<center><h2>Editar Atribuição de GSM</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="EditGSM">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_atribuicao" />
            <div class="form-group">
                <label asp-for="id_gsm" class="control-label">Número</label>
                <select asp-for="id_gsm" class="form-control" asp-items="ViewBag.id_gsm"></select>
                <span asp-validation-for="id_gsm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label">Colaborador</label>
                <select asp-for="id_colaborador" class="form-control" asp-items="ViewBag.id_colaborador"></select>
                <span asp-validation-for="id_colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_inicio" class="control-label">Data Inicial</label>
                <input asp-for="data_inicio" class="form-control" />
                <span asp-validation-for="data_inicio" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
            <label asp-for="data_fim" class="control-label">Data Final</label>
            <input asp-for="data_fim" class="form-control" />
            <span asp-validation-for="data_fim" class="text-danger"></span>
        </div>-->
            <div class="form-group">
                <center><input type="submit" value="Guardar" class="btn btnCreate btnCriarAtribuicao" /></center>
</div>
        </form>
        <center><a asp-action="GSM">Voltar</a></center>
</div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
