@model Samsys_Custos.Data.ATRIBUICAO

@{
    ViewData["Title"] = "Editar Viatura";
}

<br />
<center><h2>Editar Atribuição de Viatura</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="EditViatura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_atribuicao" />
            <div class="form-group">
                <label asp-for="id_viatura" class="control-label">Matrícula</label>
                <select asp-for="id_viatura" class="form-control" asp-items="ViewBag.id_viatura"></select>
                <span asp-validation-for="id_viatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label">Colaborador</label>
                <select asp-for="id_colaborador" class="form-control" asp-items="ViewBag.id_colaborador"></select>
                <span asp-validation-for="id_colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_inicio" class="control-label">Data Inicial</label>
                <input asp-for="data_inicio" class="form-control" />
                <span asp-validation-for="data_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="data_fim" class="control-label">Data Final</label>
            <input asp-for="data_fim" class="form-control" />
            <span asp-validation-for="data_fim" class="text-danger"></span>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <a class="btn btnVoltarEdit2 form-control" asp-action="Viatura">Voltar</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Guardar" class="btn btnSave btnCriarAtribuicao form-control" />
                </div>
            </div>
        </form>
</div>
    <div class="col-md-4">
    </div>
</div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
