@model Samsys_Custos.Data.FORNECEDOR

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FORNECEDOR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sugestao_categoria" class="control-label"></label>
                <input asp-for="sugestao_categoria" class="form-control" />
                <span asp-validation-for="sugestao_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="sugestao_custo" /> @Html.DisplayNameFor(model => model.sugestao_custo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
