<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/samsysicon.png" />

    <environment include="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="~/css/sb-admin.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<body class="fixed-nav sticky-footer " id="page-top" style="background-color:white">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a asp-area="" asp-controller="CUSTO" asp-action="Grafico_Gerais" class="navbar-brand"><img src="~/images/Samsys logo.png" style="width:100px" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" asp-area="" asp-controller="CUSTO" asp-action="Grafico_Gerais">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Equipa">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseEquipa" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">Equipa</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseEquipa">
                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="Grafico_Equipa">Custos por Equipa</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="COLABORADOR">Colaborador</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Custos">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCusto" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-eur"></i>
                        <span class="nav-link-text">Custos</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseCusto">
                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="Geral">Gerais</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="Viatura">Viaturas</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="Gsm">Gsm</a>
                        </li>
                        @if (User.IsInRole("Prémios") || User.IsInRole("SuperAdmin") || User.IsInRole("Financeiro") || User.IsInRole("Gestor"))
                        {
                            <li>
                                <a asp-area="" asp-controller="CUSTO" asp-action="Premio">Prémios</a>
                            </li>
                        }

                        @if (User.IsInRole("Salários") || User.IsInRole("SuperAdmin") || User.IsInRole("Financeiro") || User.IsInRole("Gestor"))
                        {
                            <li>
                                <a asp-area="" asp-controller="CUSTO" asp-action="Salario">Salários</a>
                            </li>
                        }

                        <li>
                            <a asp-area="" asp-controller="CUSTO" asp-action="Economato">Economato</a>
                        </li>
                        @if (User.IsInRole("Salários") || User.IsInRole("SuperAdmin") || User.IsInRole("Atribuições") || User.IsInRole("Gestor"))
                        {
                            <li>
                                <a asp-area="" asp-controller="CUSTO" asp-action="Validacao">Validação PHC</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Atribuições">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAtri" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-plus-square"></i>
                        <span class="nav-link-text">Atribuições</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseAtri">
                        <li>
                            <a asp-area="" asp-controller="ATRIBUICAO" asp-action="Viatura">Viaturas</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="ATRIBUICAO" asp-action="GSM">GSM</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gestão">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseGestao" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Gestão</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseGestao">
                        <li>
                            <a asp-area="" asp-controller="EQUIPA" asp-action="Colaborador">Colaborador</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="FORNECEDOR" asp-action="Index">Fornecedores</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="CATEGORIA" asp-action="Index">Categorias</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="VIATURA" asp-action="Index">Viaturas</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="GSM" asp-action="Index">GSM</a>
                        </li>

                    </ul>
                </li>
                @if (User.IsInRole("Gestor") || User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administrador">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAdmin" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fas fa-cogs"></i>
                            <span class="nav-link-text">Administrador</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseAdmin">

                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Index">Utilizadores</a>
                            </li>

                        </ul>
                    </li>
                }
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small style="color:white">Copyright © Samsys - Analise de Custos</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>



    <environment include="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery.easing.min.js"></script>
        <script src="~/js/jquery.dataTables.js"></script>
        <script src="~/js/dataTables.bootstrap4.js"></script>
        <script src="~/js/sb-admin.min.js"></script>
        <script src="~/js/sb-admin-datatables.js"></script>
        <script>
            var str = $("#cName").text();
            console.log(str);
            $("#boxIcon").addClass(str)
            $("#boxIcon2").addClass(str)</script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
