@model List<Samsys_Custos.Data.UTILIZADOR>
@{ViewData["Title"] = "Colaboradores";}
<center style="padding-top:1%"><h2>Colaborador Samsys</h2></center>
<hr />
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Número
            </th>

            <th>
                Colaborador
            </th>

            <th>
                Equipa
            </th>
            <th>
                Data de Admissão
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_colaborador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EQUIPA.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_admissao)
                </td>

            </tr>
        }
    </tbody>
</table>

