@model List<Samsys_Custos.Models.COLABORADOR>
@{ViewData["Title"] = "Colaboradores";}
<br />
<center><h2>Colaboradores Samsys</h2></center>
<br />
<hr />
<br />
<table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Número
            </th>

            <th>
                Colaborador
            </th>

            <th>
                Equipa
            </th>
            <th>
                Data de Admissão
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Equipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admissao)
            </td>

        </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/table.js"></script>
}
