@model Samsys_Custos.Models.EQUIPA

@{
    ViewData["Title"] = "Create";
}

<h2>Criar</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_lider" class="control-label">Colaborador Líder</label>
                <select asp-for="id_lider" class ="form-control" asp-items="ViewBag.id_lider"></select>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome da Equipa</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
