@model List<Samsys_Custos.Models.COLABORADOR>
@{ViewData["Title"] = "CustoColaborador";}
<h2>Geral</h2>
<table class="table" id="mytable">
    <thead>
        <tr>

            <th>
                Data de Admissão
            </th>
            <th>
                Colaborador
            </th>
            <th>
                Número
            </th>
            <th>
               Equipa
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Admissao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colaborador)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_colaborador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipa)
                </td>

            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/table.js"></script>
}
