@model Samsys_Custos.Models.EQUIPA

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pertende eliminar esta Equipa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome da Equipa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            Colaborador Líder
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UTILIZADOR.id_colaborador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_equipa" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
