@model IEnumerable<Samsys_Custos.Data.EQUIPA>

@{
    ViewData["Title"] = "Index";
}

<h2>Equipas</h2>

<p>
    <a asp-action="Create"> Nova Equipa</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Nome
                </th>
            <th>
                Colaborador Líder
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UTILIZADOR.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_equipa">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_equipa">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
