@model Samsys_Custos.Data.VIATURA

@{
    ViewData["Title"] = "Create";
}

<br />
<center><h2>Criar Viatura</h2></center>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <center>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="matricula" class="control-label">Matrícula</label>
                    <input asp-for="matricula" class="form-control" />
                    <span asp-validation-for="matricula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="marca" class="control-label">Marca</label>
                    <input asp-for="marca" class="form-control" />
                    <span asp-validation-for="marca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="modelo" class="control-label">Modelo</label>
                    <input asp-for="modelo" class="form-control" />
                    <span asp-validation-for="modelo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btnCreate" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Voltar</a>
            </div>
        </center>
    </div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
