@model Samsys_Custos.Data.VIATURA

@{
    ViewData["Title"] = "Eliminar Viatura";
}
<center style="padding-top:1%"><h2>Eliminar Viatura</h2></center>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

        <h6>Tem a certeza que pertende remover esta viatura?</h6>
        <br />
        <dl class="dl-horizontal">
            <dt>
                Matrícula
            </dt>
            <dd>
                @Html.DisplayFor(model => model.matricula)
            </dd>
            <dt>
                Marca
            </dt>
            <dd>
                @Html.DisplayFor(model => model.marca)
            </dd>
            <dt>
                Modelo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.modelo)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id_viatura" />
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btnVoltarEdit2 form-control" asp-action="Index">Voltar</a>
                 
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Remover" class="btn btnSave form-control" />
                </div>
            </div>
        </form>
        <br />

    </div>
    <div class="col-md-4">
    </div>

</div>
