@model Samsys_Custos.Models.VIATURA

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pertende eliminar esta viatura?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Matrícula
        </dt>
        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>
        <dt>
            Marca
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt>
            Modelo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_viatura" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
