@model Samsys_Custos.Data.VIATURA

@{
    ViewData["Title"] = "Edit";
}
<center style="padding-top:1%"><h2>Editar Viatura</h2></center>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_viatura" />
            <div class="form-group">
                <label asp-for="matricula" class="control-label">Matrícula</label>
                <input asp-for="matricula" class="form-control" />
                <span asp-validation-for="matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marca" class="control-label">Marca</label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label">Modelo</label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <a class="btn btnVoltarEdit2 form-control" asp-action="Index">Voltar</a>

                    </div>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Guardar" class="btn btnSave form-control" />
                </div>
            </div>
        </form>
        
    </div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
