@model Samsys_Custos.Data.CUSTO

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CUSTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_custo" />
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label"></label>
                <input asp-for="id_colaborador" class="form-control" />
                <span asp-validation-for="id_colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label"></label>
                <input asp-for="id_categoria" class="form-control" />
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_gsm" class="control-label"></label>
                <input asp-for="id_gsm" class="form-control" />
                <span asp-validation-for="id_gsm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_phc" class="control-label"></label>
                <input asp-for="id_phc" class="form-control" />
                <span asp-validation-for="id_phc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_viatura" class="control-label"></label>
                <input asp-for="id_viatura" class="form-control" />
                <span asp-validation-for="id_viatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_salario" class="control-label"></label>
                <input asp-for="id_salario" class="form-control" />
                <span asp-validation-for="id_salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label"></label>
                <input asp-for="mes" class="form-control" />
                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="designacao" class="control-label"></label>
                <input asp-for="designacao" class="form-control" />
                <span asp-validation-for="designacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
