@model Samsys_Custos.Data.CATEGORIA

@{
    ViewData["Title"] = "Categoria";
}

<center style="padding-top:1%"><h2>Criar Categoria</h2></center>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_pai" class="control-label">Identificador</label>
                <input asp-for="id_pai" class="form-control" />
                <span asp-validation-for="id_pai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">Categoria</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="submit" value="Criar" class="btn btnCreate" />
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-5">
                    <a class="btn btnVoltarEdit" asp-action="Index">Voltar</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
