@model Samsys_Custos.Data.CATEGORIA

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pertende eliminar esta Categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Identificador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_pai)
        </dd>
        <dt>
            Categoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_categoria" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
