@model Samsys_Custos.Data.CATEGORIA

@{
    ViewData["Title"] = "Eliminar Categoria";
}

<center style="padding-top:1%"><h2>Eliminar Categoria</h2></center>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                Categoria
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id_categoria" />
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btnVoltarEdit2 form-control" asp-action="Index">Voltar</a>
                   
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Remover" class="btn btnSave form-control" />
                </div>
            </div>
        </form>
    </div>
        <div class="col-md-4">
        </div>
    </div>
