@model IEnumerable<Samsys_Custos.Data.CATEGORIA>

@{
    ViewData["Title"] = "Categorias";
}

<center style="padding-top:1%"><h2>Categorias</h2></center>
<hr />
<a class=" btn btnActionCreate" asp-action="Create">Criar Categoria</a>

<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>
                Identificador
            </th>
            <th>
                Categoria
            </th>
            <th>
               Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_pai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    <a class="fa fa-fw fas fa-edit fa-lg btnIconEdit" asp-action="Edit" asp-route-id="@item.id_categoria"></a>
                    <a class="fa fa-fw fas fa-trash fa-lg btnIconRemove" asp-action="Delete" asp-route-id="@item.id_categoria"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
