@model IEnumerable<Samsys_Custos.Data.CATEGORIA>

@{
    ViewData["Title"] = "Index";
}

<h2>Categoria</h2>

<p>
    <a asp-action="Create">Criar Categoria</a>
</p>
<table class="table table-bordered" id="dataTable" cellspacing="0">
    <thead>
        <tr>
                <th>
                    Identificador
                </th>
                <th>
                    Categoria
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_pai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_categoria">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_categoria">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
