
@{
    ViewData["Title"] = "CustosColaboradorGrafico";
}

<h2>Gráfico Teste - Custos Gerais</h2>

<div id="chartColaborador" sstyle="width: 100%;height: 500px"></div>
@section scripts {
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="~/js/charts.js"></script>
}