@model Samsys_Custos.Data.CUSTO

@{
    ViewData["Title"] = "CriarViatura";
}

<!-- If PErmissão != de perfil Viatura retorna à pagina de custos-->
<h2>Viatura</h2>

<h4>CUSTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Viatura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label">Colaborador</label>
                <select asp-for="id_colaborador" class ="form-control" asp-items="ViewBag.id_colaborador"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label">Categoria</label>
                <select asp-for="id_categoria" class ="form-control" asp-items="ViewBag.id_categoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_viatura" class="control-label">Matricula</label>
                <select asp-for="id_viatura" class ="form-control" asp-items="ViewBag.id_viatura"></select>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label"></label>
                <input asp-for="mes" class="form-control" />
                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="designacao" class="control-label"></label>
                <input asp-for="designacao" class="form-control" />
                <span asp-validation-for="designacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CriarViatura" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Viatura">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
