@model Samsys_Custos.Data.CUSTO

@{
    ViewData["Title"] = "CriarViatura";
}

<center style="padding-top:1%"><h2>Criar Custo de Viatura</h2></center>
<hr />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="CriarViatura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_viatura" class="control-label">Matrícula</label>
                <select asp-for="id_viatura" id="viatura" class="form-control" asp-items="ViewBag.id_viatura">
                    <option selected="selected">
                        Seleccione a Matrícula
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label">Colaborador</label>
                <select asp-for="id_colaborador" id="colaborador" class="form-control" asp-items="ViewBag.id_colaborador">
                    <option selected="selected"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label">Categoria</label>
                <select asp-for="id_categoria" class="form-control" asp-items="ViewBag.id_categoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label">Ano</label>
                <select asp-for="ano" class="form-control" asp-items="ViewBag.ano"></select>
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label">Mês</label>
                <select asp-for="mes" class="form-control">
                    <option value="janeiro">Janeiro</option>
                    <option value="fevereiro">Fevereiro</option>
                    <option value="março">Março</option>
                    <option value="abril">Abril</option>
                    <option value="junho">Junho</option>
                    <option value="julho">Julho</option>
                    <option value="agosto">Agosto</option>
                    <option value="setembro">Setembro</option>
                    <option value="outubro">Outubro</option>
                    <option value="novembro">Novembro</option>
                    <option value="dezembro">Dezembro</option>
                </select>

                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label">Valor</label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <a class="btn btnVoltarEdit" asp-action="Viatura">Voltar</a>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-5">
                    <input type="submit" value="Guardar" class="btn btnCreate" />
                </div>
            </div>
        </form>
       
    </div>
    <div class="col-md-4">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/atribuicao_viatura.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
