
@{
    ViewData["Title"] = "CustosGrafico";
}

<h2>CustosGrafico</h2>

<div id="chartdiv"></div>
@section scripts {
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="~/js/charts.js"></script>
}