@model Samsys_Custos.Data.CUSTO

@{
    ViewData["Title"] = "Editar Custo Prémios";
}

<center style="padding-top:1%"><h2>Editar Custo de Prémios</h2></center>
<hr />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="EditPremio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_custo" />
            <div class="form-group">
                <label asp-for="id_colaborador" class="control-label">Colaborador</label>
                <select asp-for="id_colaborador" class="form-control" asp-items="ViewBag.id_colaborador"></select>
                <span asp-validation-for="id_colaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Categoria</label>
                <select class="form-control tipo_categoria" id="tipo_categoria" asp-items="ViewBag.tipo_premio">
                    <option selected="selected">
                        Escolha uma Categoria de Prémio
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label">Categoria</label>
                <select asp-for="id_categoria" class="form-control rubrica" asp-items="ViewBag.id_categoria"></select>
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label">Ano</label>
                <input asp-for="ano" class="form-control" />
                <span asp-validation-for="ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mes" class="control-label">Mês</label>
                <select asp-for="mes" class="form-control">
                    <option value="janeiro">Janeiro</option>
                    <option value="fevereiro">Fevereiro</option>
                    <option value="março">Março</option>
                    <option value="abril">Abril</option>
                    <option value="junho">Junho</option>
                    <option value="julho">Julho</option>
                    <option value="agosto">Agosto</option>
                    <option value="setembro">Setembro</option>
                    <option value="outubro">Outubro</option>
                    <option value="novembro">Novembro</option>
                    <option value="dezembro">Dezembro</option>
                </select>
                <span asp-validation-for="mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label">Valor</label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <center> <input type="submit" value="Guardar" class="btn btnCreate" /></center>
            </div>
        </form>
        <div>
            <center>  <a asp-action="Premio">Voltar</a></center>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/cascading_select.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
