@model List<Samsys_Custos.Models.CUSTOS_EQUIPA>
@{ViewData["Title"] = "Geral";}
<h2>Geral</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Equipas
            </th>
            <th>
                Mês
            </th>
            <th>
                Valor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                

            </tr>
        }
    </tbody>
</table>
