
@{
    ViewData["Title"] = "CustosEquipaGrafico";
}

<h2>Gráfico - Custos de Equipa</h2>
<label class="control-label">Ano</label>
<select class="form-control" asp-items="ViewBag.ano" id="select_ano">
    <option value=null>Selecione um ano</option>
</select>
<div id="chartdiv" style="width: 100%;height: 500px"></div>
@section scripts {
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
    <script src="~/js/chart_equipa.js"></script>
}