@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de recuperação de palavra-passe";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor verifique o seu email para recuperar a sua palavra-passe.
</p>

