@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Alterção de palavra-passe";
}

<h2>@ViewData["Title"]</h2>
<p>
  A sua palavra-passe foi alterada. Por favor <a asp-page="./Login">clique aqui para iniciar sessão</a>.
</p>
